{% extends "AppCorredoresRiojaBundle:Default:corredores1.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/appcorredoresrioja/css/formulario.css')}}" rel="stylesheet" media="all" type="text/css">
{% endblock %}

{% block English %}<a href="{{ path('registro.en') }}">{% endblock %}
{% block Español %}<a href="{{ path('registro.es') }}">{% endblock %}

{% block body %}
        <div class="clear"> </div>   
    <h1>Nuevo corredor</h1>
    <form action="{{ path('registro') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}
    <input class="button" type="submit" value="Registro"/>
   
    </form>
    <div class="clear"> </div>   
{% endblock %} 