{% extends "AppCorredoresRiojaBundle:Organizacion:organizaciones1.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/appcorredoresrioja/css/formulario.css')}}" rel="stylesheet" media="all" type="text/css">
{% endblock %}

{% block English %}<a href="{{ path('modificar_carrera.en',{'slug':slug}) }}">{% endblock %}
{% block Español %}<a href="{{ path('modificar_carrera.es',{'slug':slug}) }}">{% endblock %}

{% block body %}
    <div class="clear"> </div>   
    <h1>Actualizar Carrera</h1>
    <form action="{{ path('modificar_carrera',{'slug':slug}) }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}
    <input class="button" type="submit" value="Actualizar carrera"/>
   </form>
    <div class="clear"> </div>   
{% endblock %} 